.activity {
  margin-top: 77px;
  background: #fbfbfb;
  border-radius: 5px;
  width: 835px;
  height: 320px;

  &__legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 64px 0;

    &__title {
      margin: 0;
      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      color: #20253A;
    }

    &__list {
      display: flex;
      margin: 0;
      padding: 0;

      &__item {
        position: relative;
        margin-left: 52px;
        color: #74798C;

        &::before {
          content: "";
          position: absolute;
          left: -20px;
          bottom: 20%;
          aspect-ratio: 1/1;
          height: 8px;
          border-radius: 50%;
        }
      }

      .--kg::before {
          background-color: #282D30;
      }

      .--kCal::before {
        background-color: #E60000;
      }
    }

  }

  .tool-tip__bar-chart {
    background-color: #E60000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 6px;

    &-text {
      color: white;
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
    }
  }
}