.sessions {
  margin-top: 30px;
  margin-right: 30px;
  background: #ff0000;
  border-radius: 5px;
  width: 258px;
  height: 263px;
  box-shadow: 0 2px 4px 0 #00000005;
  overflow: hidden;

  .tool-tip__line-chart {
    background: rgba(0, 0, 0, 0.1);
    mix-blend-mode: normal;
    width: 260px;
    height: 263px;

    &-text {
      position: absolute;
      top: 43%;
      color: black;
      font-size: 12px;
      line-height: 24px;
      font-weight: 500;
      background-color: white;
      padding: 2px 9px;
    }
  }

  ul li {
    margin-right: 0 !important;

    .recharts-surface {
      display: none !important;
    }
  }


}